<% if user_signed_in? %>
  <nav class="bg-white shadow-sm">
    <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
      <div class="relative flex items-center justify-between h-16">
        <div class="flex-1 flex items-center sm:items-stretch sm:justify-start">
          <div class="flex-shrink-0">
            <a href="<%= root_path %>" class="text-xl font-bold text-primary-500">Prophecy</a>
          </div>
          <div class="hidden sm:block sm:ml-6 ml-auto">
            <div class="flex space-x-4">
              <a href="<%= dashboard_path %>" class="text-gray-900 hover:text-primary-500 px-3 py-2 rounded-md text-sm font-medium">Dashboard</a>
              <a href="<%= edit_user_registration_path %>" class="text-gray-900 hover:text-primary-500 px-3 py-2 rounded-md text-sm font-medium">Profile</a>
              <%= button_to "Logout", destroy_user_session_path, method: :delete, data: { turbo: false }, class: "text-gray-900 hover:text-primary-500 px-3 py-2 rounded-md text-sm font-medium", form: { class: "inline" } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
<% end %>